@import "tailwindcss";

@theme {
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-900: #312e81;
}

@layer base {
  :root {
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  }
}

.pb-safe-area {
  padding-bottom: calc(1rem + var(--safe-area-inset-bottom));
}

body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

input, textarea {
  user-select: auto;
}
